language: node_js
node_js: 
  - "10"
before_deploy:
  - npm run build
  - cd dist
  - echo "$NPM_API_TOKEN"
deploy:
  provider: npm
  email: "$NPM_EMAIL"
  api_key: "$NPM_API_TOKEN"
  skip_cleanup: true
  on:
    branch: release
